.header {
  > nav {
    padding-left: 2em;
    padding-right: 2em;
  }
  &__links {
    list-style-type: none;
    font-family: var(--pf-uniform);
    font-size: clamp(1rem, 2.1vw, var(--font-lg));
    &--logo {
      width: 10vw;
      min-width: 4.4em;
      max-width: 4.9em;
    }
  }
}
.top-area {
  width: 100%;
  position: absolute;
}
#login-image {
  width: 50px;
}
#search-bar {
  border: 2px solid var(--text-color);
  padding: 0.3em 3em;
  border-radius: 1.5em;
}
