.header {
  > nav { 
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
  }
  &__links {
    list-style-type: none;
    font-family: var(--pf-uniform);
    font-size: clamp(1rem, 2.1vw, var(--font-lg));
    &--logo {
      width: 10vw;
      min-width: 4.4em;
      max-width: 4.9em;
    }
  }
}
.top-area {
  width: 100%;
  position: absolute;
}
#login-image {
  width: 4vw;
}
#search-bar {
  width: 12vw;
  height: 2.2vw;
  border: 2px solid var(--text-color);
  padding: 0.3em 1.5em;
  border-radius: 1.5em;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 0.7em;
}
