@use "../utilities" as *;
html {
  box-sizing: border-box;
  font-size: 100%;
}
html::-webkit-scrollbar {
  width: 0.3vw;
}

html::-webkit-scrollbar-track {
  border: 1px solid white;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  &:hover {
    background: linear-gradient(180deg, #e71823 0%, #a104fc 99%);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  min-height: 120svh;
  font-family: var(--input-mono);
  font-weight: 400;
  font-size: rem(16);
  background-color: var(--background-color);
  color: var(--text-color);
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container-fw {
  width: 100%;
  margin: 0;
  padding: 3em;
}

.grid-container {
  display: grid;
  justify-items: center;
  margin: 0 auto;
  padding: 0;
}

.dialog-container {
  backdrop-filter: blur(200px);
}

.flex {
  display: flex;
  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-sa {
    justify-content: space-around;
  }
  &-jc-c {
    justify-content: center;
  }
  &-ai-c {
    align-items: center;
  }
}
