.card {
  width: 275px;
  height: 400px;
  margin-right: 60px;
  border: solid var(--text-color);
  border-radius: 1em;
  background-color: transparent;
  color: inherit;
  &-text {
    font-family: var(--input-mono);
    font-size: var(--font-md);
  }
}
