.btn-close {
  color: rgba(255, 255, 255, 0.5);
  &:hover {
    border: transparent;
    color: var(--text-color);
  }
  &:active {
    color: var(--text-color);
  }
}
.form-control {
  border: 2px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  color: var(--text-color);
  &::placeholder {
    color: var(--text-color);
  }
  &:focus {
    background-color: transparent;
    color: var(--text-color);
    box-shadow: var(--text-color);
    border-color: var(--text-color);
  }
  &:focus::placeholder {
    color: transparent;
  }
}
.form-group {
  margin-bottom: 1em;
}
.submit-button {
  padding: 0.2em 0.5em;
  border: 0.2em outset var(--text-color);
  background-color: transparent;
  color: var(--text-color);
}
